
.main {
  background: #000000;
  padding: 0 0;
  padding-bottom: 5%;
  text-align: center;
  font-family: "monaco", monospace;
}

.main h1, .main h3 {
  color: #ffffff;
}

.main h1 {
  font-size: 2rem;
}

.main h3 {
  font-size: 1rem;
}

@media (orientation: portrait) {
  .main h1 {
    font-size: 1.5rem;
  }

  .main h3 {
    font-size: 0.75rem;
  }
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  height: auto;
}

@media (orientation: portrait) {
  img {
    width: 50%;
  }
}
