
.main {
  background: #000000;
  padding: 25px 0;
  padding-bottom: 5%;
}

.main h1 {
  font-size: 1.5rem;
}

.main h3 {
  font-size: 1rem;
}

@media (max-width: 650px) {
  .main h1 {
    font-size: 1rem;
  }

  .main h3 {
    font-size: 0.6rem;
  }
}


.text {
  color: #ffffff;
  text-align: center;
  font-family: "monaco", monospace;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  height: auto;
}

@media (orientation: portrait) {
  img {
    width: 50%;
  }
}
