
.main {
  background: #000000;
  padding: 0 0;
  overflow-x: auto;   /* add scroll bar on small screens */
  text-align: center;
  font-family: "monaco", monospace;
  margin-bottom: 7.5%;
  color: #ffffff;
}

table a {
  text-decoration: none;
}

table h1, table h2, table h3, table h4 {
  color: #ffffff;
  padding: 1%;
}

table h1 {
  font-size: 1.5rem;
  margin-bottom: 2px;
}

table h2 {
  font-size: 1rem;
}

table h3 {
  font-size: 0.9rem;
  margin-top: 0;
}

table h4 {
  font-size: 0.9rem;
}

@media (orientation: portrait) {
  table h1 {
    font-size: 1.125rem;
  }

  table h2 {
    font-size: 0.9rem;
  }

  table h3 {
    font-size: 0.75rem;
  }

  table h4 {
    font-size: 0.7;
  }
}

.text {
  color: #ffffff;
  text-align: center;
  font-family: "monaco", monospace;
  text-size-adjust: 100%;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

th, td {
  border: 1px solid;
  padding: 2px;
}

table {
  border: 1px solid;
  border-collapse: collapse;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
